// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$primary: #23231a;
$secondary: #322f20;
$accent: #968E3D;
$accent2: #E0DDC5;

$red-firebrick: #c90c0f;
$olivedrab: #988f2a;

$enable-responsive-font-sizes: true;
